.main #receiverinfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: dashed 2px #aaa;
}

.main #receiverinfo article.info {
    flex: 1;
    padding: .8rem;
}

.main #receiverinfo p.direction {
    width: 2rem;
    display: flex;
    align-items: center;
}

.main #receiverinfo article.info .info-contact {
    display: flex;
    flex-direction: row;
}

.main #receiverinfo article.info .info-contact h1 {
    margin: 0 1rem;
}

.main #receiverinfo article.info .info-contact span.isdefault {
    background: #e33;
    padding: .1rem;
    color: #fff;
}

.menubar .action-wrap .action.left {
    flex: 1;
}

.menubar .action-wrap .action.right {
    flex: none;
    width: 8rem;
}

.menubar #goodssum {
    padding: .5rem;
}

.menubar #goodssum p {
    flex: 1;
    text-align: center;
}

.menubar #goodssum p span.amount {
    color: #e33;
}

.main #goodsinfo {
    padding: .5rem .3rem;
}

.main #goodsinfo li.gooditem {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.main #goodsinfo li.gooditem .img-box {
    width: 6rem;
}

.main #goodsinfo li.gooditem .img-box img {
    width: 100%;
    height: 100%;
}

.main #goodsinfo li.gooditem .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main #goodsinfo li.gooditem .info .goodname {
    width: 100%;
}

.main #goodsinfo li.gooditem .info .number {
    display: flex;
}

.main #goodsinfo li.gooditem .info .number .num {
    width: 2rem;
}

.main #goodsinfo li.gooditem .info .number .price {
    flex: 1;
    color: #e33;
}
