.main #receiverinfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: dashed 2px #aaa;
}

.main #receiverinfo article.info {
    flex: 1;
    padding: .8rem;
}

.main #receiverinfo p.direction {
    width: 2rem;
    display: flex;
    align-items: center;
}

.main #receiverinfo article.info .info-contact {
    display: flex;
    flex-direction: row;
}

.main #receiverinfo article.info .info-contact h1 {
    margin: 0 1rem;
}

.main #receiverinfo article.info .info-contact span.isdefault {
    background: #e33;
    padding: .1rem;
    color: #fff;
}

.menubar .action-wrap .action.right {
    flex: none;
    width: 8rem;
}

.menubar #goodssum {
    flex: 1;
    padding: .5rem;
    line-height: 1rem;
}

.menubar #goodssum .sum {
    display: flex;
    flex-direction: row;
}

.menubar #goodssum .sum .sum-title {
    width: 4rem;
}

.menubar #goodssum .sum .sum-show {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menubar #goodssum .sum .sum-show .amount {
    color: #e33;
    padding-right: 1rem;
}

.main #goodsinfo {}

.main #goodsinfo li.gooditem {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom: solid 1px #eee;
    padding: .5rem .3rem;
    font-size: .9rem;
}

.main #goodsinfo li.gooditem .img-box {
    width: 6rem;
}

.main #goodsinfo li.gooditem .img-box img {
    width: 100%;
    height: 100%;
}

.main #goodsinfo li.gooditem .info {
    flex: 1;
    padding-left: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main #goodsinfo li.gooditem .info .goodname {
    width: 100%;
}

.main #goodsinfo li.gooditem .info .number {
    display: flex;
    flex-direction: row;
}

.main #goodsinfo li.gooditem .info .number .num {
    width: 4rem;
}

.main #goodsinfo li.gooditem .info .number .price {
    flex: 1;
    color: #e33;
}
