.menubar .action-wrap .action-left.left {
    flex: none;
    width: 4.5rem;
    padding-left: .5rem;
}

.menubar .action-wrap .action-left.left a .iconfont {
    font-size: 1.4rem;
}

.menubar .action-wrap .action-left.left a span {
    vertical-align: middle;
}

.menubar .action-wrap .action.mid {
    flex: 1;
    line-height: 1rem;
}

.menubar .action-wrap .action.right {
    width: 6rem;
    background: #e33;
    color: #fff;
    flex: none;
}

span.iconfont.icon-fangxingxuanzhongfill {
    color: red;
}

@media(max-width: 320px) {
    .menubar .action-wrap .action.right {
        width: 6rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .menubar .action-wrap .action.right {
        width: 10rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .menubar .action-wrap .action.right {
        width: 10rem;
    }
}

.main {
    background: #eee;
}

.main .grid img {
    width: 6rem;
}

.main .grid .grid-item {
    margin: .3rem 0;
    padding: .3rem;
    background: #fff;
}

.main .grid .grid-item ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .grid .grid-item ul li.checked {
    width: 1.5rem;
    text-align: center;
}

.main .grid .grid-item ul li.checked span.iconfont {
    font-size: 1.5rem;
}

.main .grid .grid-item ul li.img-box {
    margin: 0 .5rem;
}

.main .grid .grid-item ul li.info {
    flex: 1;
}

.main .grid .grid-item ul li.info p.title {
    height: 3rem;
    overflow: hidden;
}

.main .grid .grid-item ul li.info ul.content {
    display: flex;
}

.main .grid .grid-item ul li.info ul li.left {
    display: flex;
    flex-wrap: wrap;
    font-size: .8rem;
}

.main .grid .grid-item ul li.info ul li.left p {
    margin-right: .5rem;
    color: #666;
}

.main .grid .grid-item ul li.info ul li.left .price {
    color: #e33;
}

.main .grid .grid-item ul li.info ul li.right {
    display: flex;
    align-self: flex-end;
}

.main .grid .grid-item ul li.info ul li.right input.num {
    border-radius: 0;
    width: 2rem;
    height: 1.5rem;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: center;
}

.main .grid .grid-item ul li.info ul li.right .btn {
    height: 1.5rem;
    padding: 0 .3rem;
    border-radius: 0;
}

.main .grid .grid-item ul li.info ul li.right .btn.btn-reduce {
    padding: 0 .5rem;
}

.menubar .action-wrap .action.mid .sum span.amount {
    color: #e33;
}

.menubar .action-wrap .action.mid .sum {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menubar .action-wrap .action.mid .sum .sum-title {
    width: 3rem;
}

.menubar .action-wrap .action.mid .sum .sum-show {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menubar .action-wrap .action.mid .sum .sum-show .amount {
    padding-right: 1rem;
}

.menubar .action-wrap .action.mid .sum p {
    font-size: .7rem;
}


/*.menubar .action-wrap .action p span.amount.active {
    display: block;
}
*/
