* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    display: block;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topbar,
.menubar {
    text-align: center;
}

.topbar {
    height: 2.8rem;
    line-height: 2.8rem;
    border-bottom: solid 1px #eee;
}

.main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    word-break: break-all;
    overflow: auto;
}

.menubar {
    height: 3.2rem;
    line-height: 3.2rem;
    border-top: solid 1px #eee;
    text-align: center;
}

.topbar {
    display: flex;
    flex-direction: row;
}

.topbar span.iconfont {
    font-size: 1.3rem;
}

.topbar .left {
    width: 3rem;
}

.topbar .mid {
    flex: 1;
}

.topbar .mid .tab-label-wrap {
    display: flex;
    margin: 0 2rem;
    flex-direction: row;
    justify-content: space-around;
}

.topbar .mid .tab-label-wrap .tab-label a {
    display: block;
    height: 100%;
}

.topbar .mid .tab-label-wrap .tab-label.active a {
    font-weight: bold;
    border-bottom: solid 2px;
}

.topbar .right {
    width: 3rem;
}

.main {}

.main .tab-content {
    display: flex;
    flex-direction: row;
    width: 300%;
}

.main .tab-content .tab-page {
    width: 33.33%;
}

.menubar .action-wrap {
    display: flex;
    flex-direction: row;
}

.menubar .action-wrap .action {
    display: flex;
    flex-direction: row;
}

.menubar .action-wrap .action.left {
    width: 44%;
    font-size: .7rem;
}

.menubar .action-wrap .action a {
    flex: 1;
}

.menubar .action-wrap .action.left a span {
    display: block;
    height: 1rem;
}

.menubar .action-wrap .action.left a span.iconfont {
    margin-top: -.5rem;
}

.menubar .action-wrap .action.right {
    width: 56%;
}

.menubar .action-wrap .action.right a {
    color: #fff;
}

.menubar .action-wrap .action.right a#btn_addto_shopcar {
    background: #ec3;
}

.menubar .action-wrap .action.right a#btn_buynow {
    background: #e33;
}
