.main {}

.main .tab-content {
    display: flex;
    flex-direction: row;
}

.topbar .mid .tab-swiper {
    display: flex;
    justify-content: center;
}

.topbar .mid .tab-swiper .tab-label {
    margin: 1rem;
}

.topbar .mid .tab-swiper .tab-label.active {
    font-weight: bold;
}

.topbar .mid .tab-swiper .tab-label.active a {
    color: #555;
    font-size: 1.1rem;
    border-bottom: solid 2px;
}

.menubar .action-wrap .action.left {
    flex: none;
    width: 44%;
}

.menubar .action-wrap .action.right .action-item-noicon#btn_addto_shopcar {
    background: #ec3;
}

.menubar .action-wrap .action.right .action-item-noicon#btn_buynow {
    background: #e33;
}

#swiper1 .goods-info {
    padding: .5rem;
}

#swiper1 .goods-info p {
    padding: .2rem 0;
}

#swiper1 .goods-info p.price {
    color: #e33;
}

#swiper2 .swiper-wrapper {}

#swiper2 .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: row;
}

#swiper2 .swiper-wrapper .swiper-slide img {
    margin: 1rem;
    flex: 1;
}

.shopcar-box {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 5rem;
    right: 1rem;
    background: #d33;
    border-radius: 50%;
    z-index: 1000000;
}

.shopcar-box a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shopcar-box a span {
    padding: 0 .1rem;
}

.shopcar-box a .iconfont {
    font-size: 1.3rem;
}
