form {
    width: 100%;
    height: 100%;
}

#error_msg {
    padding: 1rem;
    border: solid 1px;
    color: #e33;
    text-align: center;
    display: none;
}

.main section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    border-bottom: solid 1px #eee;
    padding: .8rem .5rem;
}

.main section.form-valid p {
    width: 100%;
}

.main section input {
    flex: 1;
}

.main section.form-valid button {
    margin: .8rem 0 .8rem .5rem;
    padding: 0 .5rem;
}

.main section.form-info input {
    border: none;
}

.main section.form-info label {
    display: block;
    width: 7rem;
}

.main section.form-info label .isrequired {
    color: #e33;
    padding: 0 .2rem;
}

.main section.form-detail {
    font-size: .8rem;
    padding: .5rem;
    padding-top: 0;
    border-bottom: none;
}

.main section.form-detail ul:before {
    content: "";
    display: block;
    height: .6rem;
    background: #f8f8f8;
}

.main section.form-detail ul {
    width: 100%;
}

.main section.form-detail ul li {
    display: flex;
    flex-direction: row;
}

.main section.form-detail img {
    width: 6rem;
    height: 6rem;
}

.main section.form-detail p {
    flex: 1;
}

.main section.form-detail i {
    align-self: center;
    color: #f32;
}

.menubar {
    padding: 0 .5rem;
}

.menubar input.btn-submit {
    flex: 1;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    height: 2.5rem;
    background: #f21;
}

.main #input_area {
    background: #fff;
    width: 100%;
    height: 100%;
}

#chooseAddr_area {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    flex-direction: column;
    z-index: -100;
}

#chooseAddr_area .top {
    height: 2.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#chooseAddr_area .top .back {
    width: 3rem;
}

#chooseAddr_area .top .title {
    flex: 1;
}

#chooseAddr_area .swiper-tab {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#chooseAddr_area .swiper-tab .swiper-tab-label {
    margin-right: 2rem;
}

#chooseAddr_area .swiper-tab .swiper-tab-label a {
    padding: .8rem 0;
    color: #e33;
}

#chooseAddr_area .swiper-tab .swiper-tab-label.active a {
    border-bottom: solid 2px;
}

#chooseAddr_area .swiper-container {
    flex: 1;
    padding: .5rem;
    width: 100%;
    overflow: auto;
/*    display: flex;
    flex-direction: row;
*/}

#chooseAddr_area .swiper-container .swiper-wrapper {
    /*overflow: auto;*/
}

.swiper-slide .area {
    display: flex;
    flex-direction: column;
}

.swiper-slide .area .area-item {
    padding: .8rem 0;
}

.swiper-slide .area .area-item a {
    font-size: .9rem;
}

.swiper-slide .area .area-item a span.iconfont {
    display: none;
    color: #e33;
    padding-left: .5rem;
}

.swiper-slide .area .area-item a.visible span.iconfont {
    display: inline;
}
